
.container-fuild{
    padding: 40px;
}

.navbar-expand{
    background: rgba(250,227,217,0.4);
    width: 83%;
    border-top-width: 45px;
    position: absolute;
    padding: 5px;
    margin-left: 229px;
}
.img{
    border-radius: 50%;
    height: 35px;
    width: 35px;

}
.navbar-lg .dropdown-toggle{
    padding-top: 5px;
}
.u{
    padding-bottom: 15px;
    text-align: center;
}
.navbar-expand .navbar-lg{
    position: relative;
    left:870px;
    bottom: 5px;

}
.navbar-lg .nv{
    top:9px;
}
.sidebar {
        background: rgb(250,227,217);
        width: 230px;
        position: absolute;
        margin-top: 0px;
        height: 880px;
        float: left;
    }
 .nav-item{
    position: relative;
    left:50px;
    top: 20px;
    font-size: 20px;
    }
  .navbar-sidenav {
     position: relative;
     padding: 55px;
    }
  .nav-text{
      padding-left: 10px;
  }
  .text{
     text-decoration: none;
 }
  .sidebar .nav li a:hover{
      color: orange;
      border-left: 2px solid orange;
      border-right-width: 95px;
  }
.sidebar .nav li a{
    padding-left: 50px;
}
  .navbar-nav li{
      margin-bottom: -15px;
  }

.glyphicon-signal{
    color:orange;
}
.lout{
    top:340px;
}

body hr{
    width:83%;
    position: absolute;
    left: 230px;
    top:30px;
}


.container-fluid{
    background: rgba(250,227,217,0.4);
    width: 83%;
    position: relative;
    left: 115px;
    top: 50px;
    padding-bottom: 15px;
}
 .card .hr{
     width: 77%;
     position: absolute;
     left:1px;
     top:210px;
     border: 0.5px solid #808080;
 }
 .card {
     background-color: #FFFFFF;
     position: relative;
     left: 15px;
     padding-bottom: 80px;
     margin-top: 15px;
     margin-bottom: 15px;
 }
 .cainfo{
     position: relative;
     left: 40px;
     top: 25px;
 }
 .credit{
     position: relative;
     top: 45px;
 }
 /*.statistic{
     background-color: #FFFFFF;
     position: relative;
     left: 15px;
     margin-top: 15px;
     margin-right: 20px;
 }
 .pan-body{
     padding-bottom: 23px;
 }*/
 /*img css*/
 .bgimg{
  padding-top: 15px;
 }
.bgimg img{
  width: 670px;
  height:376px;
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

 .card-body{
     background-color: #FFFFFF;
     position: relative;
     left: 15px;
     padding-bottom: 50px;
 }
 .card-body .donut{
     position: relative;
     left:15px;
 }
.card-title{
    position: relative;
    left: 40px;
    top: 25px;
}
.card-body .hr-t{
    width: 77%;
    position: absolute;
    left:1px;
    top:270px;
    border: 0.5px solid #808080;
}
.procent{
    font-size: 55px;
    position: absolute;
    left: 89px;
    bottom: 170px;
}
.card-body .card-tf{
    position: relative;
    top: 35px;
}
.card-panel{
    background-color: #FFFFFF;
    position: relative;
    left: 15px;
    top:10px;
}
.activity-gauge{
    margin-bottom: -35px;
}
.panel-item{
    top:5px;
}
.calender{
    background-color: #FFFFFF;
    position: relative;
    top:10px;
}
.calender .glyphicon-calendar {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    left: 15px;
    top: 15px;
}
.calendar{
    padding-bottom: 55px;

}
.cal{
    position: absolute;
    left: 95px;
    top:30px;
    font-size:24px;
}

ul {list-style-type: none;}





