

.header-aside {
        background: rgba(250,227,217,0.5);
        width: 160px;
        position: fixed;
        border-radius: 0;
        height: 900px;
    }

.header-aside .navbar-nav > li {
        float: none;
        width: 139px;
    }

.navbar-default{
    width: 100%;
    position: relative;
    padding: auto;
}